.navigation {
  background-color: white;
  width: 100%;
  overflow: hidden;
  height: 10vh;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  ul {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    a {
      color: var(--header-color);
    }
    img {
      border-radius: 50%;
      width: 36px;
      height: 36px;
      max-width: 100%;
    }
    span {
      display: flex;
    }
    svg {
      color: var(--header-color);
      height: 22px;
      width: 19px;
      left: 3px;
      top: 1px;
      border-radius: 0px;
    }
  }
  
  @media (max-width: 1024px) { /* for tablets */
    ul {
      width: 30%;
    }
  }

  @media (max-width: 768px) { /* for mobile devices */
    height: auto;
    padding: 0.5em;
    ul {
      width: 40%;
      justify-content: space-between;
    }
    .search {
      margin-left: 5%;
    }
  }

  @media (max-width: 480px) { /* for smaller mobile devices */
    ul {
      width: 60%;
      justify-content: space-around;
    }
    .search {
      margin-left: 10%;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  span {
    background-color: var(--theme-blue);
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--background-color);
  }
  input {
    height: 40px;
    max-width: 400px;
    width: 100%;
    padding: 0.5em;
    border-radius: 8px;
    border: solid 2px var(--grey);
  }

  @media (max-width: 768px) { /* for mobile devices */
    input {
      max-width: none;
      width: 100%;
      margin-left: 1em;
    }
  }
}
